.header {
	display: grid;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	background: transparent;
}

.logo {
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}
nav a {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}
#hamburger-menu-button {
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 20px;
}
#navigation {
	display: none;
	li {
		list-style: none;
	}
	&.active {
		display: grid;
		align-items: center;
		align-content: space-evenly;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-color: #000;
		text-align: center;
		list-style: none;
	}
}

@media screen and (min-width: $breakpoint-tablet) {
	header {
		grid-template-columns: 1fr 1fr;
	}
	nav {
		display: block;
		a {
			margin-left: 40px;
			font-size: 1rem;
			&::before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 0;
				height: 2px;
				transition: 0.3s;
				background: #fff;
			}

			&:hover::before {
				width: 100%;
			}
		}
	}
	#hamburger-menu-button {
		display: none;
	}
	#navigation {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		li {
			display: flex;
		}
	}
}
